%p#notice= notice

%p
  %b Title:
  = @platform_category.title
%p
  %b Pos:
  = @platform_category.pos

= link_to 'Edit', edit_platform_category_path(@platform_category)
\|
= link_to 'Back', platform_categories_path
