%h3 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th= User.human_attribute_name :username
        %th= User.human_attribute_name :email
        %th= User.human_attribute_name :registered
        %th= User.human_attribute_name :role
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td.nowrap
            .pull-left
              = link_to image_tag(avatar_url(user), width: 20, height: 20), user_path(user)
            .pull-left
              &nbsp
              = link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td
            - if can?(:manage, User)
              %a.btn.btn-xs.btn-warning{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
              = render 'role', user: user
          %td
            =link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-xs btn-danger') if can? :manage, User