.row
  .col-lg-6
    .panel.panel-default
      .panel-body
        .col-lg-2
          .row
            %p
              = image_tag(avatar_url( @user ))
        .col-lg-10
          %table.table
            %tr
              %td
                %b= User.human_attribute_name :name
              %td
                = @user.name
            %tr
              %td
                %b= User.human_attribute_name :email
              %td
                = @user.email
            %tr
              %td
                %b= User.human_attribute_name :roles_name
              %td
                = @user.roles_name.collect{|role| role.titleize}.join(', ') if @user.roles_name
            %tr
              %td
                %b Token
              %td= text_field_tag :token, @user.authorizations.map(&:token), readonly: true, style: 'width: 100%'
            %tr
              %td
                = link_to_if current_user.has_role?(:admin), 'Edit', edit_user_path(@user)
              %td
                = link_to 'Back', users_path
  .col-lg-6
    .panel.panel-default
      .panel-heading
        .panel-title
          =t('platforms.get_my_public')
      .panel-body
        %table.table
          %tr
            %th GID
            %th name
            %th alias
            %th type
            %th members
            %th
          - @vk_user_groups.each do |item|
            %tr
              %td= item.gid
              %td= item.name
              %td= item.screen_name
              %td= item.type
              %td= item.members_count
              %td= item.is_closed == 0 ? 'private' : 'public'

