.row
  .col-lg-6
    .panel.panel-default
      .panel-body
        .col-lg-2
          .row
            %p
              = image_tag(avatar_url( @user ))
        .col-lg-10
          %table.table
            %tr
              %td
                %b= User.human_attribute_name :name
              %td
                = @user.name
            %tr
              %td
                %b= User.human_attribute_name :email
              %td
                = @user.email
            %tr
              %td
                %b= User.human_attribute_name :roles_name
              %td
                = @user.roles_name.collect{|role| role.titleize}.join(', ') if @user.roles_name
            %tr
              %td
                = link_to_if current_user.has_role?(:admin), 'Edit', edit_user_path(@user)
              %td
                = link_to 'Back', users_path
  .col-lg-6
    .panel.panel-default
      .panel-heading
        .panel-title
          =t('platforms.get_my_public')
      .panel-body
        content

