%ul.nav.navbar-nav
  - if user_signed_in?
    %li=link_to t('navigation.users'),      users_path if can? :read, User
    %li=link_to t('navigation.platforms'),  platforms_path if can? :read, Platform
    %li=link_to t('navigation.categories'), platform_categories_path if can? :read, PlatformCategory
    -#%li=link_to t('navigation.services'),   platform_services_path if can? :read, PlatformService
    -#%li.dropdown
    -#  %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
    -#    =t('navigation.queue')
    -#  %ul.dropdown-menu
    -#    %li=link_to t('navigation.delayed_job'), delayed_job_path
    -#    %li=link_to t('navigation.dj_mon'), dj_mon_path
%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li
      = link_to user_path(current_user) do
        = image_tag(avatar_url(current_user), width: 20, height: 20)
    %li= link_to current_user.name, user_path(current_user)
    %li= link_to t('logout'), signout_path

  - else
    %li
      = link_to "Sign in with", "#"
    %li
      = link_to " Facebook", user_omniauth_authorize_path(:facebook)
    %li
      = link_to " Vkontakte", user_omniauth_authorize_path(:vkontakte)
    %li
      = link_to " github", user_omniauth_authorize_path(:github)
    %li
      =link_to user_omniauth_authorize_path(:google_oauth2) do
        =image_tag 'google.jpg', width: '20px', height: '20px', style: 'float: left;'
        &nbsp;
        =t('login')